
<div class="welcome-container">
  <div class="content-wrapper">
    <h1 class="website-title">Project Management Dashboard</h1> 
    <p class="tagline">Your central hub for managing all your projects, tasks, deadlines, and more.</p> 
<!-- welcome.component.html -->
<!-- <button [routerLink]="['/auth']">
      Get Started <span class="rocket">🚀</span>
    </button> -->

    <button class="get-started-button" [routerLink]="['/auth']">
      Get Started <span class="rocket">🚀</span>
    </button>
  </div>
</div>