<div class="task-list-container">
  <mat-card *ngFor="let task of tasks" class="task-detail-card">
    <mat-card-content>
      <!-- Task Information -->
      <div class="task-info">
        <div class="info-field">
          <strong>Title:</strong>
          <span *ngIf="!task.isEditMode">{{ task.id }}</span>
          <input *ngIf="task.isEditMode" [(ngModel)]="task.title" />
        </div>
        <div class="info-field">
          <strong>Description:</strong>
          <span *ngIf="!task.isEditMode">{{ task.description }}</span>
          <textarea *ngIf="task.isEditMode" [(ngModel)]="task.description"></textarea>
        </div>
        <div class="info-field">
          <strong>Priority:</strong>
          <span *ngIf="!task.isEditMode">{{ task.priority }}</span>
          <input *ngIf="task.isEditMode" [(ngModel)]="task.priority" />
        </div>
        <div class="info-field">
          <strong>Status:</strong>
          <span *ngIf="!task.isEditMode">{{ task.status }}</span>
          <input *ngIf="task.isEditMode" [(ngModel)]="task.status" />
        </div>
        <div class="info-field">
          <strong>Assigned Team Member:</strong> {{ task.assignedMember.name }} ({{ task.assignedMember.contact }})
        </div>
        <div class="info-field">
          <strong>Due Date:</strong> {{ task.dueDate | date }}
        </div>
              </div>
      
    </mat-card-content>

    <!-- Action Buttons -->
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="editTask(task)">
        {{ task.isEditMode ? 'Save Task' : 'Edit Task' }}
      </button>
      <button mat-raised-button color="warn" (click)="changeStatus(task)">Change Status</button>
      <button mat-raised-button color="warn" (click)="deleteTask(task.id)">Delete Task</button>
    </mat-card-actions>
  </mat-card>
</div>


