/* Customize Gantt Chart styles */
.completed-task {
    background-color: green !important;
  }
  
  .in-progress-task {
    background-color: yellow !important;
  }
  
  .not-started-task {
    background-color: gray !important;
  }
  