<div class="change-password-container">
  <h2>Change Password</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <!-- Current Password -->
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input matInput [type]="showCurrentPassword ? 'text' : 'password'" formControlName="currentPassword" required />
      <button mat-icon-button matSuffix (click)="toggleVisibility('current')" type="button">
        <mat-icon>{{ showCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" required />
      <button mat-icon-button matSuffix (click)="toggleVisibility('new')" type="button">
        <mat-icon>{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline">
      <mat-label>Re-enter New Password</mat-label>
      <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" required />
      <button mat-icon-button matSuffix (click)="toggleVisibility('confirm')" type="button">
        <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>


    <div *ngIf="message" [ngClass]="{ 'error-msg': isError, 'success-msg': !isError }">
      {{ message }}
    </div>

    <div class="actions">
      <button mat-button type="button" (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Update</button>
    </div>
  </form>
</div>