

.change-password-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5rem;
  gap: 2rem;
  box-sizing: border-box;
  max-width: 110%;
  width: 100%;

  h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  mat-form-field {
    width: 100%;

    .mat-mdc-form-field-subscript-wrapper { // To create space below the input
      margin-top: 0.5rem;
    }
  }

  .mat-mdc-text-field-wrapper {
    padding: 1rem; // Add padding around the input element
  }

  .mat-mdc-input-element {
    padding: 0.8rem 1rem; // Add internal padding to the input text
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .error-msg {
    color: red;
    font-size: 14px;
  }

  .success-msg {
    color: green;
    font-size: 14px;
  }
}