<div class="change-password-container">
    <h2>Change Password</h2>
  
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" formControlName="currentPassword" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Re-enter New Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required />
      </mat-form-field>
  
      <div *ngIf="message" [ngClass]="{ 'error-msg': isError, 'success-msg': !isError }">
        {{ message }}
      </div>
  
      <div class="actions">
        <button mat-button type="button" (click)="close()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Update</button>
      </div>
    </form>
  </div>
  